apache-beam[gcp]==2.25.0
beautifulsoup4==4.9.3
google-cloud-firestore==1.9.0
sparqlwrapper==1.8.5
sqlitedict==1.7.0
# CI only:
black==19.10b0  # Code format
pylint==2.6.0  # Lint
mypy==0.790  # Type check
